# Database Config
DB_HOST=localhost
DB_USER=your_db_user
DB_PASS=your_db_password
DB_PASS_ENC=your_db_encrypted_password
DB_PORT=5432
DB_NAME=ppes 

# Mode Config (Set to True to send an email immediately for testing)
TEST_MODE=True

# S3 Configuration
BUCKET_NAME=mybucket
S3_ENDPOINT_URL=https://your-s3-endpoint:9000
INTERNAL_S3_ENDPOINT_URL=https://127.0.0.1:19000
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Email Configuration
SENDER_EMAIL=your_email@example.com
SMTP_EMAIL=your_email@example.com
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password

SECRET_KEY=your_secret_key_here

HOST=localhost
APP_BASE_URL=http://localhost:5000

############################################################

# Relay Server Config
MAIL_SERVER=smtp.office365.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password
MAIL_DEFAULT_SENDER=("IIoT Team", "your_email@example.com")
MAIL_SENDER_NAME="IIoT Team"

# API Secret Key
API_SECRET_KEY=your_api_secret_key
